[Desktop Entry]
Name=Super Mario 64
Exec=mupen64plus --fullscreen --resolution $(xrandr | grep "*" | awk '{print $1}') "/home/kira/Documents/ROMs/Super Mario 64.z64"
Terminal=false
Type=Application
Icon=MarioWingCap
Comment=Super Mario 64
Categories=Game;Emulator;
