[user]
	email = kira.bruneau@pm.me
	name = Kira Bruneau
	signingKey = 1176DC0CE57E804C7038A3A0FD0452E7FE574C0E
[core]
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[push]
	default = simple
[pull]
	rebase = merges
[rebase]
	autostash = true
[diff]
	algorithm = histogram
[gitlab]
	user = MetaDark
[github]
	user = MetaDark
[url "git@gitlab.com:"]
	pushInsteadOf = https://gitlab.com/
	pushInsteadOf = git://gitlab.com/
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
