[submodule "emacs"]
	path = emacs/.config/emacs
	url = https://gitlab.com/kira-bruneau/emacs.git

[submodule "i3"]
	path = i3
	url = https://gitlab.com/kira-bruneau/i3wm-config.git
[submodule "polybar"]
	path = polybar/.config/polybar
	url = https://gitlab.com/kira-bruneau/polybar-config.git

[submodule "sway"]
	path = sway
	url = https://gitlab.com/kira-bruneau/sway-config.git
[submodule "waybar"]
	path = waybar/.config/waybar
	url = https://gitlab.com/kira-bruneau/waybar-config.git

[submodule "rofi"]
	path = rofi/.config/rofi
	url = https://gitlab.com/kira-bruneau/rofi-config.git

