/.lsp-session-v1
/amx-items
/auto-save-list/
/backup
/bookmarks
/custom.el
/eshell/
/history
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server/
/session*
/smex-items
/straight/*
!/straight/versions/
/tramp
/transient/
/tutorial/
/url/
