/.cache
/.dap-breakpoints
/.extension/
/.log
/.lsp-session-v1
/.stignore
/amx-items
/auto-save-list/
/backup
/bookmarks
/custom.el
/eclipse.jdt.ls/
/eln-cache
/elpa
/eshell/
/forge-database.sqlite
/history
/ido.last
/image-dired/
/lsp-cache/
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server/
/session*
/smex-items
/straight/*
!/straight/versions/
/tramp
/transient/*
!/transient/values.el
/tutorial/
/url/
/workspace/
