[Desktop Entry]
Categories=Network;WebBrowser;
Comment=
Exec=firefox --new-tab %U
GenericName=Web Browser
Icon=firefox
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp
Name=Firefox
Terminal=false
Type=Application
