:root {
  --spacing: 10px;
  --small-spacing: 6px;
  --color-accent-primary: AccentColor !important;
}

body {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 !important;
}

img:not([overflowing]), picture, video, embed, object, iframe {
  max-width: 100% !important;
}

.moz-text-plain, .moz-text-flowed {
  font-family: initial !important;
  font-size: 14px !important;
}

/* Thunderbird conversations extension */
#conversationWrapper {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;

  button, [role=button] {
    border-radius: 3px !important;
  }

  .conversationHeaderWrapper {
    box-shadow: none !important;
  }

  .conversationHeader {
    padding: var(--small-spacing) var(--spacing) !important;
    line-height: 30px !important;
    align-items: center !important;

    .subject {
      font-size: 1.6rem !important;
    }
  }

  #messageList {
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
    margin: 0 !important;
    padding: var(--spacing) !important;
    gap: var(--small-spacing) !important;
    overflow-y: scroll !important;

    .message {
      margin: 0 !important;
      border-radius: 6px !important;
      box-shadow: 0 0 5px transparent !important;
      transition: box-shadow 300ms ease, border-color 300ms ease !important;

      .messageHeader {
        margin: 0 !important;
        padding: 3px var(--spacing) !important;
        transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease, box-shadow 300ms ease !important;

        &:hover {
          background-color: color-mix(in srgb, var(--color-accent-primary) 10%, transparent) !important;
        }
      }

      &:has(.messageHeader:hover) {
        box-shadow: 0 0 5px color-mix(in srgb, var(--color-accent-primary) 50%, transparent) !important;
        border-color: color-mix(in srgb, var(--color-accent-primary) 60%, transparent) !important;
      }

      &:focus {
        box-shadow: 0 0 5px transparent !important;
      }
    }
  }

  .replyBox {
    border-radius: 3px !important;
    padding: 6px !important;
    height: initial !important;
    line-height: initial !important;
    min-height: initial !important;
  }

  .bottom-links {
    border-top: 1px solid ThreeDShadow !important;
    padding: var(--small-spacing) var(--spacing) !important;
  }
}
