body {
  margin: 0 !important;
}

img:not([overflowing]), picture, video, embed, object, iframe {
  max-width: 100% !important;
}

.moz-text-plain, .moz-text-flowed {
  font-family: initial !important;
  font-size: 14px !important;
}
