/*
 * Reference mockup: https://blog.thunderbird.net/files/2024/07/128-Light@2x-1-e1720641205908.png
 */

:root {
  --spacing: 7px;
  --small-spacing: 4px;

  /* Generalize accent color variables */
  --color-accent-primary: AccentColor !important;
  --selected-item-color: var(--color-accent-primary) !important;

  /* Lighten search bar border color */
  --search-bar-border-color: var(--color-gray-40) !important;

  /* Remove border on message header toolbar buttons */
  --toolbarbutton-header-bordercolor: transparent !important;

  /* Remove border on ghost butons */
  --button-border-color-ghost: transparent !important;

  /* Increase padding on thread tree cards */
  --tree-card-inline: var(--spacing) !important;

  &[uidensity="compact"] {
    --spacing: 4px;
    --small-spacing: 2px;

    /* Fix use in calc (originally just 0) */
    --recipient-multi-line-gap: 0px !important;
  }

  &[uidensity="touch"] {
    --spacing: 10px;
    --small-spacing: 6px;
  }
}

.kbd-container kbd {
  /* Lighten keybinding style */
  font-weight: normal !important;
  color: var(--layout-color-3) !important;
  box-shadow: inset 0px -1px 0px var(--layout-border-0) !important;
}

.date, .message-header-datetime {
  /* Lighten date color */
  color: #525259 !important;
}

#spacesToolbar {
  /* Use dark sidebar color */
  background-color: rgba(57, 60, 88, 0.8) !important;
  color: #fff !important;

  &:not([hidden]) ~ #navigation-toolbox {
    /* Align toolbox so it's not behind spaces toolbar */
    margin-inline-start: var(--spaces-total-width) !important;
  }
}

#threadTree {
  /* Increase padding to align with conversation messages */
  padding-block: 7px !important;

  td {
    /* Ignore padding accounting for scrollbar */
    padding-inline-end: var(--spacing) !important;
  }
}

#titlebar {
  margin-inline-start: 0 !important;
}

#unifiedToolbarContent {
  .unified-toolbar-button {
    /* Use padding instead of margin */
    padding: var(--small-spacing) !important;
    margin: 0 !important;

    /* Remove drop-down arrow */
    background: none !important;

    .button-label {
      display: none !important;
    }
  }
}

#ublock0_raymondhill_net-browserAction-toolbarbutton {
  .button-icon {
    /* uBlock Origin is missing icon by default */
    content: url(https://upload.wikimedia.org/wikipedia/commons/0/05/UBlock_Origin.svg);
  }
}

#messageHeader {
  /* Increase message header padding */
  padding: var(--spacing) !important;
}

#headerSenderToolbarContainer {
  /* Prevent collapsing toolbar into columns */
  flex-direction: row-reverse !important;

  /* Align contained toolbar to baseline instead of center */
  align-items: baseline !important;
}

#expandedfromBox {
  .recipient-avatar {
    /* Ensure avatar is sized relative to line height */
    width: calc(1.05lh + var(--recipient-multi-line-gap) + 1lh) !important;
    height: calc(1.05lh + var(--recipient-multi-line-gap) + 1lh) !important;
  }
}

#header-view-toolbar {
  .toolbarbutton-text {
    display: none !important;
  }

  .toolbarbutton-menu-dropmarker {
    /* Keep end margin consistent with start margin */
    margin-inline-start: 3px !important;
    margin-inline-end: 3px !important;
  }
}

#dateLabel {
  /* Hack to group #dateLabel together with #header-view toolbar */
  margin-top: calc(-1em + 5px) !important;

  /* Decrease font size to keep it consistent with .date */
  font-size: 0.95rem !important;
}

#extraHeadersArea:empty {
  /* Avoid extra padding when empty extra headers is empty */
  display: none !important;
}

#mail-notification-top {
  /* Match styling of #header-view-toolbar */
  & > .notificationbox-stack[notificationside="top"] {
    background-color: var(--toolbar-bgcolor) !important;
  }

  .infobar {
    margin: 0 var(--spacing) var(--spacing) !important;
  }
}

#messagepane, #messageEditor {
  padding: var(--spacing) !important;
  background-color: #fff !important;
}
